.text-shadow {
    text-shadow: 4px 4px 4px 4px purple;
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
    text-color: white;
    
}

collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
